{% extends 'base.html' %}
{% load static %}
{% block title %} Boys Shoes {% endblock %}

{% block content %}

<div class="container"><br>
    <h1 class="head text-center">Boys Shoes</h1><br><br>
    {% for boysfoot in boysfootwear %}
    <div class="col-md-4 simpleCart_shelfItem text-center">
        <div class="card" style="width: 100%">
            <img class="card-img-top" src="{{boysfoot.image.url}}" alt="boys shoes" width="100%">
            <div class="card-body">
                <h3 class="card-title">{{boysfoot.name.upper}}</h3>
                <h4 class="card-text">{{boysfoot.description.title}}</h4><br>
                <i class="card-text">{{boysfoot.stock}} left in stock</i>
                <p class="item_price">₦{{boysfoot.price}}</p>
                <form action="#" method="post">
                    <input type="hidden" name="cmd" value="_cart"/>
                    <input type="hidden" name="add" value="1"/>
                    <input type="hidden" name="w3ls_item" value="{{boysfoot.name}}"/>
                    <input type="hidden" name="amount" value="{{boysfoot.price}}"/>
                    <button type="submit" class="w3ls-cart">Add to cart</button>
                </form>
            </div>
            <br>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}