{% extends 'base.html' %}
{% load static %}
{% block title %} About Us {% endblock %}

{% block content %}

<div class="mail">
    <div class="container">
        <h3>About Us</h3>
        <h2>Hello and welcome to EA-Shop, the place to find the best clothes and accessories for every taste and
            occasion. We thoroughly check the quality of our goods, working only with reliable suppliers so that you
            only receive the best quality product.
        </h2>
        <br>

        <h2>We at EA-Shop believe in high quality and exceptional customer service. But most importantly, we believe
            shopping is a right, not a luxury, so we strive to deliver the best products at the most affordable
            prices. We’ve come a long way, so we know exactly which direction to take when supplying you with high
            quality yet budget-friendly products. We offer all of this while providing excellent customer service and
            friendly support.
        </h2>
        <br>

        <h2> We always keep an eye on the latest trends and put our customers’ wishes first.
            That is why we have satisfied customers all over the world, and are thrilled to be a part of the clothing
            industry.
        </h2>
        <br>

        <h2> The interests of our customers are always top priority for us, so we hope you will enjoy our products as
            much as we enjoy making them available to you.
        </h2>

    </div>
</div>
<br>

{% endblock %}