{% extends 'base.html' %}
{% load static %}
{% block title %} Men Sneakers {% endblock %}

{% block content %}

<div class="container"><br>
    <h1 class="head text-center">Men Sneakers</h1><br><br>
    {% for mensneakers in mensneaker %}
    <div class="col-md-4 simpleCart_shelfItem text-center">
        <div class="card" style="width: 100%">
            <img class="card-img-top" src="{{mensneakers.image.url}}" alt="men sneakers" width="100%">
            <div class="card-body">
                <h3 class="card-title">{{mensneakers.name.upper}}</h3>
                <h4 class="card-text">{{mensneakers.description.title}}</h4><br>
                <i class="card-text">{{mensneakers.stock}} left in stock</i>
                <p class="item_price">₦{{mensneakers.price}}</p>
                <form action="#" method="post">
                    <input type="hidden" name="cmd" value="_cart"/>
                    <input type="hidden" name="add" value="1"/>
                    <input type="hidden" name="w3ls_item" value="{{mensneakers.name}}"/>
                    <input type="hidden" name="amount" value="{{mensneakers.price}}"/>
                    <button type="submit" class="w3ls-cart">Add to cart</button>
                </form>
            </div>
            <br>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}