{% extends 'base.html' %}
{% load static %}
{% block title %} Men Polos & Tees {% endblock %}

{% block content %}

<div class="container"><br>
    <h1 class="head text-center">Men Polos & Tees</h1><br><br>
    {% for menpolos in menpolo %}
    <div class="col-md-4 simpleCart_shelfItem text-center">
        <div class="card" style="width: 100%">
            <img class="card-img-top" src="{{menpolos.image.url}}" alt="Men Polos & Tees" width="100%">
            <div class="card-body">
                <h3 class="card-title">{{menpolos.name.upper}}</h3>
                <h4 class="card-text">{{menpolos.description.title}}</h4><br>
                <i class="card-text">{{menpolos.stock}} left in stock</i>
                <p class="item_price">₦{{menpolos.price}}</p>
                <form action="#" method="post">
                    <input type="hidden" name="cmd" value="_cart"/>
                    <input type="hidden" name="add" value="1"/>
                    <input type="hidden" name="w3ls_item" value="{{menpolos.name}}"/>
                    <input type="hidden" name="amount" value="{{menpolos.price}}"/>
                    <button type="submit" class="w3ls-cart">Add to cart</button>
                </form>
            </div>
            <br>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}